.justify-description-css {
    text-align: justify;
    white-space: pre-line;
}

.delete-button-css {
    position: relative;
    top: -40px;
    float: right;
    color: grey;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}

.delete-button-css:hover {
    color: red;
    transform: scale(1.3)
}

.edit-button-css {
    position: relative;
    top: -40px;
    float: right;
    color: grey;
    cursor: pointer;
    transition: transform .2s; /* Animation */
}

.edit-button-css:hover {
    color: #6699ff;
    transform: scale(1.3)
}

.card-zoom-css {
    transition: transform .2s; /* Animation */
}

.card-zoom-css:hover {
    transition: transform .2s; /* Animation */
    transform: scale(1.1);
}